
$dark-green: #419F55;
$light-green: #BAF2C6;

$dark-blue: #41739F;
$medium-blue: #41889F;
$light-blue: #BAF2F0;

$dark-brown: #815418;
$light-brown: #CB8425;

$medium-gray: #7f7f7f;
$dark-gray: #000;
$dark-gray-transparent: rgba(0, 0, 0, 0.1);

$base-background: #FFFFFF;

// TODO need red and purples

$border-color: $dark-gray; 
$link-color: $medium-blue;
$dark-link-color: $dark-blue;
