<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>

      {{ partial "nav.html" .}}

  {{ partial "hero.html" .}}


<div class="parallax">

<div class="parallax__group">
  <div class="parallax__layer parallax__layer--back">
      back
    </div>
    <div class="parallax__layer parallax__layer--base">
      base
    </div>
  </div>
</div>

{{ range $name, $taxonomy := .Site.Sections }}
<section id="{{$name}}" class="section, {{lower $name}}">
<h1 itemprop="name">{{$name}}</h1>

<div class="section-items">
{{ range $pageName, $page := $taxonomy.Pages }}
  <div class="section-item">
    {{ if ne $page.Params.bodyimage nil }}
    <a href="{{.Permalink}}" alt="{{.Title}} "><img src="{{ printf "/%s/%s" $name $.Params.bodyimage }}" itemprop="image"
      alt="{{ .Title }}"
      class="bodyimg"
       /></a>
    {{else}}
    {{if ne $page.Params.icon nil}}<i class="icon to-animate-2 {{ $page.Params.icon | markdownify }}"></i>{{end}}
    <h2>{{$page.Title}}</h2>
    <p>
    {{$page.Description}}
    </p>
    {{end}}
  </div>
{{ end}}
</div>
</section>

{{ end }}

</div>



        {{ if .Site.Params.footer.enable }}
        	{{ partial "footer.html" .}}
        {{ end }}

        {{ partial "js.html" .}}
    </body>
</html>
