@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  color: #41889F; }
  a:focus, a:hover {
    color: #41739F; }

.parallax {
  position: absolute;
  -webkit-perspective: 1px;
          perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -50; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer--base {
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.parallax__layer--back {
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px); }

.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.parallax__layer--deep {
  -webkit-transform: translateZ(-2px) scale(3);
          transform: translateZ(-2px) scale(3); }

.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2); }

section {
  width: 100%;
  padding: 16px;
  min-height: 200px; }
  section .section-items {
    display: row;
    width: 100%;
    width: 90%;
    margin: auto; }
    section .section-items .section-item {
      padding: 8px;
      min-width: 150px;
      min-height: 100px;
      max-width: 350px;
      margin: 8px; }
  section h1 {
    width: 90%;
    margin: auto; }

.promo-box {
  border: 1px solid #000;
  border-radius: 4px; }
  .promo-box .small {
    width: 25%; }
  .promo-box .large {
    width: 80%; }

nav {
  float: right;
  padding: 20px; }

nav ul, .social ul {
  list-style: none; }

nav li, .social li {
  display: inline-block;
  padding: 10px; }

header {
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  border-bottom: 4px solid #000;
  z-index: 100; }

footer {
  width: 100%; }
  footer .social, footer .copyright {
    text-align: center;
    width: 100%; }

#logo {
  margin: 20px;
  float: left;
  width: 200px;
  height: 40px;
  display: block; }

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px; }

@media only screen and (max-width: 768px) {
  menu-item {
    display: inline-block; }
  header {
    position: absolute; }
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px; }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0; }
  nav:hover ul {
    display: block; } }

section.products {
  background-color: #815418; }
  section.products .section-items .section-item {
    border: 2px solid #000;
    border-radius: 8px; }

.section .icon {
  font-size: 70px;
  margin-bottom: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  color: #000; }

section.services {
  padding-right: 30px; }
  section.services h1 {
    font-size: 1em; }
  section.services .section-item {
    border: 1px solid #000;
    border-radius: 8px;
    text-align: center;
    box-shadow: 4px 4px 4px 0; }

body {
  margin: 0 auto; }
