<footer id="footer" role="contentinfo">
  <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
  <div class="copyright">
      <p>{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>

  </div>
  <div class="social">
    <ul class="social social-circle">
      <li><a href="#"><i class="icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon-facebook"></i></a></li>
      <li><a href="#"><i class="icon-youtube"></i></a></li>
    </ul>
  </div>
  
</footer>
